.card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.card img {
  width: 100px;
  height: 100px;
}

.habilidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidad-texto {
  margin-top: 10px;
}

.subtitulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .card img {
    width: 20px;
    height: 20px;
  }
}
